#path111{
 
  stroke-dasharray: 753.8282470703125px;
  -webkit-animation-name: outline;
          animation-name: outline;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
           animation-iteration-count: infinite;
}

@-webkit-keyframes outline {
  0% {
    stroke-dashoffset: 753.8282470703125px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 753.8282470703125px;
  }
}

@keyframes outline {
  0% {
    stroke-dashoffset: 753.8282470703125px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 753.8282470703125px;
  }
}